@import url('/public/css/base.css');

/* Estilos específicos de login */
h2 {
  margin-bottom: 20px;
}

.logo-title {
  font-size: 2.2rem;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, #00d9ff, #8f00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  margin-top: 10px;
  margin-bottom: 5px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

.logo-title:hover {
  transform: scale(1.05);
  animation: pulse 0.6s ease-in-out;
}